body{
    background-color: #f6f6f6;
}
.strip {
    height: 500px;
    width: 100%;
    background-image: url(pexels-ann-h-1888000.jpg);
    background-position: center;
    background-size: cover;
}


main a{
    color: #26a1cb;
}
main a:hover{
    color: black;
}

main .copybtn:hover{
background-color: #0dcaf0 !important;
}


@media (min-width:2000px) {
    .strip {
        height: 700px;
    }
}

@media (min-width:1600px) {
    .strip {
        height: 600px;
    }

}

@media (max-width:850px) {
    main {
        font-size: 0.9em;
    }
}

@media (max-width:620px) {
    .strip {
        height: 400px;
        background-size: contain;
        background-image: url(smallpexels-ann-h-1888000.jpg);
    }

    main {
        font-size: 0.8em;
    }
}

@media (max-width:500px) {
    main {
        font-size: 0.7em;
    }
}